@use 'base/mixins' as m;
@use 'base/variables' as v;

.seccion11{
    background-image: url('/build/img/geofisica2.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1rem solid v.$negro;
    border-bottom: 1rem solid v.$negro;
    .seccion11-backcover{
        backdrop-filter: blur(0px) saturate(180%);
        -webkit-backdrop-filter: blur(0px) saturate(180%);
        background-color: rgba(0, 0, 0, 0.35);
        min-height: inherit;
        .seccion11-container{
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            justify-content: center;
            @include m.tablet{
                grid-template-columns: repeat(2,1fr);
            }
            .texto-seccion11,.servicios-seccion11{
                height: fit-content;
                .lista-servicios{
                    .item{
                        margin-bottom: 1.3rem;
                        .bi-check{
                            color: v.$verde;
                        }
                    }
                }
            }
        }
    }    
}