@use 'base/mixins' as m;
@use 'base/variables' as v;


.seccion2{
    min-height: 50vh;
    background-color: v.$negro;
    .contenedor-seccion2{
        display: grid;
        grid-template-columns: 1fr;
        @include m.tablet{
            grid-template-columns: repeat(2,1fr);
        }
        .contenedor-chevron{
            i{
                color: v.$verde;
            }
        }
        #contenedor-2-seccion2{
            background-color: v.$verde;
            border-radius: 1rem;
            button{
                background-color: darken(v.$verde, 30%);
                color: lighten(v.$verde, 60%);

                &:hover{
                    background-color: darken(v.$verde, 15%);
                }
            }
        }
    }


}
