

$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopHD: 1200px;
$desktopFullHD: 1350px;
$height-nav: 5rem;


$verde: #d2d700;
$gris: #333333;
$negro: #000000;
$blanco: #ffffff;

$transition: all ease .4s;
